@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    border: none;
    direction: rtl;
    font-family: "Noto Kufi Arabic", sans-serif;
}

:root {
    --main-color: #2878eb;
    --sec-color: #ffffff;
    --thd-color: #f14d5d;
    --thd2-color: #e43f4f;
    --yellow-color: #ffc107;
    --green-color: #28a745;
    --dark-color: #120F2D;
    --dark-main: #215cae;
    --gray-color: #787878;
    --gray2-color: #e4e4e4;
    --background-color: #2879ebd4;
    --background-gray: #e9e9e9;
    --font-family: "Noto Kufi Arabic", sans-serif;
    --cookie-font: "Noto Sans Arabic", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    /* background-color: var(--background-gray); */
    background-image: url("../imgs/new6.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    max-width: 500px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 8px 0px var(--main-color); */
    border: 2px solid var(--gray-color);
    gap: 50px;
}

.login > h1 {
    font-size: 35px;
    color: var(--main-color);
}

.login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login form div:not(:last-child) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
    max-width: 300px;
    flex: 1;
}

.login form h3 {
    font-size: 15px;
    color: var(--main-color);
    width: 100%;
    padding: 0px 5px;
}

.login form input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    /* background-color: var(--sec-color); */
    background-color: transparent;
    font-size: 14px;
    color: var(--gray-color);
    border-bottom: 2px solid var(--gray-color);
}

.login form div i {
    position: absolute;
    left: 5px;
    bottom: 10px;
    font-size: 13px;
    color: var(--main-color);
    cursor: pointer;
}

.login form div:last-child {
    display: flex;
    max-width: 300px;
    flex: 1;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    /* justify-content: space-between; */
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
}

.login form button,
.login form div:last-child a:first-child {
    width: 170px;
    height: 40px;
    padding: 5px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sec-color);
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.login form button:hover {
    background-color: var(--dark-main);
}

.login form div:last-child a:first-child {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.login form div:last-child a:first-child:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
}

.login form div:nth-of-type(3) {
    /* background-color: #215cae; */
    flex-direction: row;
    justify-content: start;
    padding: 5px;
}

.login form div:nth-of-type(3) label {
    font-size: 15px;
    color: var(--gray-color);
    cursor: pointer;
}

.login form div:nth-of-type(3) input {
    width: fit-content;
    cursor: pointer;
}

.login form div:last-child a:last-child {
    color: var(--thd-color);
    font-size: 16px;
    width: fit-content;
    position: relative;
}

.login form div:last-child a:last-child::after {
    /* content: ""; */
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--thd-color);
    bottom: 0;
    left: 0;
}

.login form > p {
    color: var(--thd-color);
    font-size: 16px;
}