@import url("account.css");

header {
    background-color: var(--gray2-color);
}

header .settings {
    background-color: var(--gray2-color);
}

header .settings a:hover {
    background-color: var(--sec-color);
}

.home-tracks {
    min-height: 100vh;
    padding: 50px 10px;
    background-color: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-tracks .container > h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: var(--dark-color);
    text-decoration: underline dashed;
}

.home-tracks .my-tracks {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 15px;
    /* margin-top: 30px; */
}

.home-tracks .my-tracks .my-track {
    background-color: var(--gray2-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.home-tracks .my-tracks .my-track img {
    width: 100%;
    border-radius: inherit;
}

.home-tracks .my-tracks .my-track .shape {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home-tracks .my-tracks .my-track .shape h3 {
    color: var(--dark-color);
    font-size: 17px;
}

.home-tracks .my-tracks .my-track .shape h3:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.home-tracks .my-tracks .my-track .shape h3:last-child {
    height: 7px;
    background-color: var(--sec-color);
    border-radius: 10px;
    position: relative;
}

.home-tracks .my-tracks .my-track .shape h3:last-child span {
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    border-radius: inherit;
}

.home-tracks .my-tracks .my-track a {
    font-size: 20px;
    width: 100px;
    height: 40px;
    color: var(--sec-color);
    font-weight: bold;
    margin-top: 10px;
    background-color: var(--main-color);
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    transition: .4s;
}

.home-tracks .my-tracks .my-track a:hover {
    background-color: var(--dark-main);
}